/*==================================================================
* File Name: ie10.css.
* Path: /styles/ie10.css.
* Description: A stylesheet for rendering http://www.zkdesign.co.nz
*              in Internet Explorer version 10 browsers and above, on
*              a native Windows environment.
* Version: 1.01.a.          
* Author: Zaine Kingi.
* ============================= Change History ==============================
* - Ver- -- By -- --------------------- Changes -----------------------------
* 1.01.a           Initial Release
* 1.01.b           Zaine kingi                 Fix text alignment of the Type
*                                              Collage, and applied text-shadow.
* 1.01.c           Zaine Kingi                 Update Type Collage & added RWD
*                                              IE10 styling.
*****************************************************************************/
    /*============================================================================
    * ------------------- Typography Collage styling ----------------------------
    * ==========================================================================*/
    #typo_container
    {
    width: 880px; padding: 0px 0px 0px 80px; margin: 0px;
    }
    #typo_collage
    {
    padding: 0px 0px 10px 0px; margin: 0px; width: 100%; border-bottom: #CCCCCC solid 5px;
    }
    #typo_collage li
    {
    font-family: times, garamond, serif; font-size: 2.8em; color: #cccccc; text-shadow: 0px -1px 1px #000, 0px 1px 1px #fff; display: inline-block; float: left; margin: 0px; padding: 0px;
    transition: color 1s; -webkit-transition: color 1s, text-shadow 1s; -moz-transition: color 1s, text-shadow 1s;
    }
    #typo_collage li:nth-child(1)/* innovative creative */
    {
    font-size: 6.3em; line-height: 60px; letter-spacing: -5px; font-family: Nill; text-align: right;
    }
    #typo_collage li:nth-child(2)/* web */
    {
    line-height: 120px; margin: 0px; margin-left: -35px; padding: 0px; font-size: 5em; text-shadow: 1px 0px 1px #000;
    transform:rotate(90deg); -webkit-transform:rotate(-90deg); -moz-transform:rotate(-90deg);
    }
    #typo_collage li:nth-child(3)/* Ð&Ð */
    {
    line-height: 55px; margin-left: -15px; font-size: 7.8em;
    }
    #typo_collage li:nth-child(4)/* graphic */
    {
    letter-spacing: -5px; line-height: 90px; font-size: 5em; font-family: Nill; margin-left: -30px;
    }
    #typo_collage li:nth-child(5)/* design */
    {
    font-size: 3.3em; line-height: 30px; letter-spacing: 2px; margin-left: 9px; margin-top: -25px;
    }
    #typo_collage li:nth-child(6)/* solutions... */
    {
    font-size: 2.2em; line-height: 60px; letter-spacing: 2px; margin-left: 9px; margin-top: 20px; border-top: 5px solid #ccc;
    }
    #typo_collage li:hover
    {
    color: rgb(200,95,65); /*text-shadow: 2px 3px 1px #ccc, 1px 1px 0px #fff;*/
    }
    /*---------------------- End of the Collage Styling ---------------------------------*/
    /*****************************************************************************
    *===================== Work Display Gallery Stying ==========================
    * Description: Styling of the Work Gallery Display.
    * Author:  Zaine Kingi.
    *****************************************************************************/
    #slider ul
    {
    border: none;
    }
    #slider ul li
    {
    border: none;
    }
    #slider ul li a
    {
    border: none;
    }
    #slider ul li a img
    {
    border: none;
    }
    /*-------------------- end of the Work Display Styling ----------------*
    *                                                                      *
    *                                                                      *
    *                                                                      *
    *                                                                      *
    *                                                                      *
    *                                                                      * 
    *                                                                      *
    *                                                                      *
    *                                                                      *
    *                                                                      *
    *                                                                      *
    *                                                                      *
    *                                                                      *
    *                                                                      *
    *                                                                      *
    ***********************************************************************/
/*************************************************************************
* Media Queries.
* Description: Media Queries Styling for ZKDesign Website.
* Author: Zaine Kingi
**************************************************************************/
/*************************************************************************
*=============== iPad Portrait Styling =================================
* Target Device: iPad Generations 1 and 2.
************************************************************************/
@media only screen and (max-width: 768px) and (min-width: 381px)/*iPad[Gen.1, 2] Done 24/7/13*/
{
    /*============================================================================
    * ------------------- Typography Collage styling ----------------------------
    * ==========================================================================*/
    #typo_container
    {
    width: 608px; padding: 20px 0px 0px 100px; margin: 0px;
    }
    #typo_collage
    {
    padding: 0px 0px 10px 0px; margin: 0px; width: 100%; border-bottom: #CCCCCC solid 5px;
    }
    #typo_collage li
    {
    font-family: times, garamond, serif; font-size: 2em; color: #cccccc; text-shadow: 0px -1px 1px #000, 0px 1px 1px #fff; display: inline-block; float: left; margin: 0px; padding: 0px;
    transition: color 1s; -webkit-transition: color 1s, text-shadow 1s; -moz-transition: color 1s, text-shadow 1s;
    }
    #typo_collage li:nth-child(1)/* innovative creative */
    {
    font-size: 4em; line-height: 50px; letter-spacing: -5px; font-family: Nill; text-align: right;
    }
    #typo_collage li:nth-child(2)/* web */
    {
    line-height: 85px; margin: 0px; margin-left: -30px; padding: 0px; font-size: 4.3em; text-shadow: 1px 0px 1px #000;
    transform:rotate(90deg); -webkit-transform:rotate(-90deg); -moz-transform:rotate(-90deg);
    }
    #typo_collage li:nth-child(3)/* Ð&Ð */
    {
    line-height: 55px; margin-left: -25px; font-size: 5.9em;
    }
    #typo_collage li:nth-child(4)/* graphic */
    {
    letter-spacing: -5px; line-height: 45px; font-size: 4.2em; font-family: Nill; margin-left: -35px;
    }
    #typo_collage li:nth-child(5)/* design */
    {
    font-size: 2.3em; line-height: 15px; letter-spacing: 2px; margin-left: 7px;
    }
    #typo_collage li:nth-child(6)/* solutions */
    {
    font-size: 1.6em; line-height: 40px; letter-spacing: 2px; margin-left: 9px; margin-top: 10px; border-top: 5px solid #ccc;
    }
    #typo_collage li:hover
    {
    color: rgb(200,95,65); /*text-shadow: 2px 3px 1px #ccc, 1px 1px 0px #fff;*/
    }
    /*---------------------- End of the Collage Styling ------------------------*/
}/******************** End of iPad Portrait Styling ***************************/
/*************************************************************************
*======================= iPhone Landscape Styling ========================
* Target Device: iPhone Landscape Mode.
*************************************************************************/
@media only screen and (max-width: 960px) and (min-width: 769px)/*iPhone Landscape Done 24/7/13*/
{
    /*============================================================================
    * ------------------- Typography Collage styling ----------------------------
    * ==========================================================================*/
    #typo_container
    {
    width: 800px; padding: 20px 0px 0px 80px; margin: 0px;
    }
    #typo_collage
    {
    padding: 0px 0px 10px 0px; margin: 0px; width: 100%; border-bottom: #CCCCCC solid 5px;
    }
    #typo_collage li
    {
    font-family: times, garamond, serif; font-size: 2.3em; color: #cccccc; text-shadow: 0px -1px 1px #000, 0px 1px 1px #fff; display: inline-block; float: left; margin: 0px; padding: 0px;
    transition: color 1s; -webkit-transition: color 1s, text-shadow 1s; -moz-transition: color 1s, text-shadow 1s;
    }
    #typo_collage li:nth-child(1)/* innovative creative */
    {
    font-size: 5.5em; line-height: 60px; letter-spacing: -5px; font-family: Nill; text-align: right;
    }
    #typo_collage li:nth-child(2)/* web */
    {
    line-height: 120px; margin: 0px; margin-left: -35px; padding: 0px; font-size: 5em; text-shadow: 1px 0px 1px #000;
    transform:rotate(90deg); -webkit-transform:rotate(-90deg); -moz-transform:rotate(-90deg);
    }
    #typo_collage li:nth-child(3)/* Ð&Ð */
    {
    line-height: 75px; margin-left: -35px; font-size: 7.8em;
    }
    #typo_collage li:nth-child(4)/* graphic */
    {
    letter-spacing: -5px; line-height: 45px; font-size: 4.8em; font-family: Nill; margin-left: -40px;
    }
    #typo_collage li:nth-child(5)/* design */
    {
    font-size: 3.2em; line-height: 0px; letter-spacing: 2px; margin-left: 7px; margin-top: -35px;
    }
    #typo_collage li:nth-child(6)/* solutions... */
    {
    font-size: 2.2em; line-height: 50px; letter-spacing: 2px; margin-left: 7px; margin-top: 5px; border-top: 5px solid #ccc;
    }
    #typo_collage li:hover
    {
    color: rgb(200,95,65); /*text-shadow: 2px 3px 1px #ccc, 1px 1px 0px #fff;*/
    }
    /*---------------------- End of the Collage Styling ------------------------*/
}/******************** End of 769px-960px Media Query ***************************/